* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    background: linear-gradient(to right, rgb(34, 24, 24), rgb(63, 4, 4));
    position: relative;
}

img {
    display: block;
}

.hotline {
    display: flex;
    justify-content: flex-end;
    padding: 20px 60px 10px 60px;
}

.header-phone {
    color: white;
    margin-right: 15px;

}

.header-phone a {
    text-decoration: none;
    color: white;
}

.header-opentime {
    color: white;
}

.navbar {
    height: 70px;
    background-color: rgb(27, 9, 9);
    display: block;
    padding: 20px;
    position: relative;
    list-style: none;
    line-height: 34px;
}

.navbar-menu {
    position: absolute;
    display: flex;
    margin-left: 20px;
    list-style: none;
}

.navbar-menu a {
    margin: auto 20px 20px;
    color: white;
    text-decoration: none;
}

.navbar-menu__item {
    margin-right: 20px;
}

.navbar-menu__item:hover .navbar-item {
    color: rgb(225, 56, 4);
}

.navbar-menu__item:hover .phim {
    color: rgb(225, 56, 4);
}

.dropdown-menu {
    background-color: rgb(27, 9, 9);
    position: absolute;
    border: 0.5px solid white;
    top: 104%;
    border-radius: 6px;
    z-index: 10;
    display: none;
}

.dropdown-menu a:hover {
    color: orangered;
}

.navbar-menu__item:hover .dropdown-menu {
    display: block;
}


.dropdown-menu li {
    list-style: none;
}

.dropdown-menu .phim {
    text-decoration: none;
    color: white;
}

.navbar-account {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    color: white;
}

.navbar-account a {
    list-style: none;
    color: white;
    text-decoration: none;
}

.dangnhap {
    margin-right: 5px;
}

.dangnhap:hover a{
    color: rgb(225, 56, 4);
}

.dangnhap:hover a span{
    color: white;
}

.dangki:hover a{
    color: rgb(225, 56, 4);
}

.nav-tabs {
    display: flex;
    justify-content: center;
    margin: 1.8rem;
}

.dangchieu span {
    color: white;
    background-color: orangered;
    border: 3px solid orangered;
    font-weight:  bold;
    border-radius: 35px;
    font-size: 1.8rem;
    padding: 7px 25px;
    cursor: pointer;
}

.dangchieu {
    padding-right: 20px;
    list-style: none;
}

.sapchieu {
    list-style: none;
}

.sapchieu span {
    color: white;
    background-color: transparent;
    border: 3px solid white;
    font-weight:  bold;
    border-radius: 35px;
    font-size: 2rem;
    padding: 7px 25px;
    list-style: none;
    cursor: pointer;
}

.owl-stage {
    margin: 10px 44px;
}

.owl-item {
    margin-right: 35px;
}

.owl-item:hover .info-movie-datve {
    display: flex;
}

.slide-show {
    display: flex;
    padding-bottom: 80px;
    line-height: 1.8rem;
}


.poster-film {
    list-style: none;
}

.product-img {
    height: 385px;
    width: 260px;
}

.info-movie {
    padding-top: 20px;
    width: 260px;
    text-align: center;
}

.info-movie h3 a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.4rem;
}

.info-movie h4 {
    color: white;
    font-size: 1rem;
}

.rated {
    color: orangered;
}

.owl-nav .owl-nav-left {
    background-position: 0 0;
    left: 48px;
    width: 64px;
    display: block;
    top: 48%;
    height: 64px;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    margin-top: -16px;
    opacity: 0.5;
    transition: opacity 0.35s linear 0s;
}

.owl-nav .owl-nav-left:hover {
    opacity: 1;
}

.owl-nav .owl-nav-right {
    background-position: 0 0;
    right: 78px;
    width: 64px;
    display: block;
    top: 48%;
    height: 64px;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    margin-top: -16px;
    opacity: 0.5;
    transition: opacity 0.35s linear 0s;
}

.owl-nav .owl-nav-right:hover {
    opacity: 1;
}

.info-movie-datve {
    display: flex;
    justify-content: center;
    gap: 6px;
    display: none;
}


.info-movie-trailer {
    color: white;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid white;
    list-style: none;
    padding: 10px 20px;
}

.info-movie-trailer:hover {
    cursor: pointer;
    background-color: orangered;
}

.info-movie-buy {
    color: white;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid white;
    list-style: none;
    padding: 10px 20px;
}

.info-movie-buy:hover {
    cursor: pointer;
    background-color: orangered;
}